{% include header.html %}
<section class="page-header">
	<h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
	<h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
	<a href="{{ site.url }}/markdown" class="btn">Markdown</a>
	<a href="{{ site.url }}/about" class="btn">About</a>
	<a href="{{ site.url }}/issues" class="btn">Issues</a>
	<a href="{{ site.url }}/platform" class="btn">Platform</a>
</section>
<section class="main-content">
{{ content }}
</section>
{% include footer.html %}
